.wrap {
    margin: auto;
    user-select: none;
    .content {
      .layoutWrap {
        display: flex;
        .layout {
          .mainWrap {
            main {
  
            }
          }
        }
        
      }
      
    }
  }
  