.wrap {
  margin: 0;
  padding: 0;
    .content {
      .layoutWrap {
        display: flex;
        .layout {
          .mainWrap {
            display: flex;
            main {
            }
          }
        }
      }
      
    }
  }
  