.statusWrap {
    width: 100%;
    height: 50px;
    background-color: $color_gray11;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    .chatStatusWrap {
        .statusList {
            display: flex;
            margin: auto;
            .status {
                display: flex;
                
                 > p {}
                 > em {}
            }
        }
    }
}