.statusWrap {
    width: 100%;
    height: 50px;
    background-color: $color_gray11;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    .chatStatusWrap {
        padding: 17px 20px;
        .statusList {
            display: flex;
            cursor: pointer;
            .status {
                display: flex;
                margin-right: 10px;
                @include bold_12;
                &:last-child {
                    margin: 0;
                }
                 > em {
                    padding: 0 5px;
                    margin-left: 2px;
                    border-radius: 5px;
                    color: $color_white;
                    background-color: $color_neutrals60;
                    &.active {
                        background-color: $color_primary;
                    }
                 }
            }
        }
    }
    .myStatusWrap {
        position: relative;
        display: flex;
        .questionButton {
            margin-right: 20px;
            > img {
                width: 20px;
                height: 20px;
            }
        }
        .statusInfoWrap {
            display: flex;
            border-left: 1px solid $color_neutrals20;
            padding: 10px 20px;
            .info {
                display: flex;
                > img {
                    width: 30px;
                    height: 30px;
                    border-radius: 5px;
                }
                > p {
                    @include bold_12;
                    margin: auto 20px auto 5px;
                }
            }
            .statusButton {
                display: flex;
                border: 1px solid $color_confirmed;
                border-radius: 5px;
                padding: 7px 10px;
                > p {
                    padding: 0 15px;
                    @include normal_10;
                    position: relative;
                    &::before {
                        content: '';
                        @include center_top;
                        width: 5px;
                        height: 5px;
                        background-color: $color_confirmed;
                        border-radius: 50%;
                        
                    }
                }
            }
        }
        .selectStatusWrap {
            position: absolute;
            bottom: -4px;
            right: 20px;
            width: 76px;
background-color:aqua;
            .selectStatus {
                > p {
                    @include normal_10;
                }
            }
        }
    }
}

.arrow {
    width: 8px;
    height: 8px;
    margin: 3px 0;
    transition: all .2s ease-in-out;
    &.down {
        transform: scaleY(-1);
    }
}