section.ChatRoom {
    width: 100%;
    height: 100%;
    display: flex;
    .ChatRoom_wrapper {
        width: 25%;
        height: calc(100vh - 80px);
        padding-right: 10px;
        .room_list {
            width: 100%;
            height: 100%;
            background-color: $color_gray11;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
            border-radius: 5px;
            .list_header {
                > p {
                    @include bold_14;
                    padding: 5px 20px;
                    border-bottom: 1px solid $color_neutrals20;   
                }
                .ChatRoom_search {
                    position: relative;
                    padding: 5px;
                    display: flex;
                    border-bottom: 1px solid $color_neutrals20;   
                    > input {
                        @include normal_12;
                        background-color: $color_neutrals5;
                        padding: 5px 30px 5px 15px;
                        width: 100%;
                    }
                    .search {
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        width: 20px;
                        height: 20px;
                        > img {}
                    }
                }
            }
            .ChatRoom_list {
                border-radius: 0 0 5px 5px;
                height: calc(100% - px);
                overflow-y: auto;
                &::-webkit-scrollbar {
                    width: 3px;
                  }
                  &::-webkit-scrollbar-track {
                  }
                  &::-webkit-scrollbar-thumb {
                    background: $color_secondary;
                    border-radius: 5px;
                  }
                  &::-webkit-scrollbar-thumb:hover {
                  }
                .ChatRoom_item {
                    width: 100%;
                    padding: 20px;
                    display: flex;
                    cursor: pointer;
                    border-bottom: 1px solid $color_neutrals10;   
                    transition: all .2s ease-in-out;
                    background-color: $color_white;
                    &:hover {
                        background-color: $color_neutrals10;
                    }
                    &.active {
                        background-color: rgba(171, 189, 255, 0.5);
                    }
                    .ChatRoom_profile {
                        width: calc(100% - 40px);
                        .consumerInfo {
                            display: flex;
                            .profile {
                                width: 30px;
                                height: 30px;
                                border-radius: 5px;
                            }
                            .name {
                                @include bold_12;
                                max-lines: 1;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                margin-left: 5px;
    
                            }
                        }
                        .lastChat {
                            @include normal_10;
                            line-height: 30px;
                            max-lines: 1;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .ChatRoom_info {
                        position: relative;
                        width: 40px;
                        @include bold_10;
                        letter-spacing: -1px;
                        .lastTime {
                            color: $color_neutrals60;
                        }
                        .bedge {
                            position: relative;
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            width: 18px;
                            height: 18px;
                            background-color: $color_warning;
                            border-radius: 50%;
                            > p {
                                @include center;
                                color: $color_white;
                            }
                        }
                    }
                }
            }
            
        }
    }
    section.Room {
        width: 75%;
        height: calc(100vh - 80px);
        padding-right: 10px;
        .Room_wrapper {
            width: 100%;
            height: 100%;
            background-color: $color_gray11;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
            border-radius: 5px;
            background-color: #f8f9ff;
            padding: 16px;
            .Chat {
                height: calc(100% - 136px);
                overflow-y: auto;
                &::-webkit-scrollbar-button {
                    display: none;
                }
                &::-webkit-scrollbar-thumb {
                    background: $color_secondary;
                    border-radius: 5px;
                }
                &::-webkit-scrollbar {
                    width: 3px;
                }
                .Chat_wrapper {
                    width: auto;
                    margin: 8px 0 0 auto;
                    display: flex;
                    .Chat_profile {
                        width: 40px;
                        height: 40px;
                        border-radius: 5px;
                        > img {
                            width: 40px;
                            height: 40px;
                            border-radius: 5px;
                        }
                    }
                    .Chat_content {
                        margin: 0 8px;
                        max-width: 150px;
                        padding: 8px;
                        background-color: $color_neutrals20;
                        border-radius: 5px 5px 5px 0;
                        font-size: 14px;
                        line-height: 22px;
                    }
                    > em {
                        height: 12px;
                        margin-top: auto;
                        display: flex;
                        font-size: 12px;
                        letter-spacing: -1px;
                        > strong {
                            color: $color_warning;
                            font-size: 12px;
                            margin: 0 8px;
                        }
                    }
                    &.current {
                        justify-content: flex-end;
                        .Chat_content {
                            background-color: $color_secondary;
                            color: $color_white;
                            border-radius: 5px 5px  0 5px;
                        }
                    }
                }
            }
            .Chat_message {
                width: 100%;
                margin-top: 16px;
                .Chat_message_wrapper {
                    width: 100%;
                    border: 1px solid $color_secondary;
                    border-radius: 5px;
                    background-color: $color_white;
                    .message {
                        width: 100%;
                        padding: 8px;
                        @include normal_14;
                        resize: none;
                        border: none;
                        border-radius: 5px;
                        line-height: 28px;
                        &::-webkit-scrollbar-button {
                            display: none;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: $color_secondary;
                            border-radius: 5px;
                        }
                        &::-webkit-scrollbar {
                            width: 3px;
                        }
                    }
                    .message_tool {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        > button {
                            width: 40px;
                            height: 40px;
                            padding: 11px;
                            > img {
                                width: 18px;
                                height: 18px;
                            }
                            &.send_button {
                                margin-left: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}