.buttonArea {
    width: 100%;
    margin: 24px 0;
    button {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        display: block;
        margin-bottom: 12px;
        @include bold_14;
        &:last-child {margin: 0;}
        &.whiteButton {
            background-color: $color_white;
            border: 2px solid $color_primary;
        } 
        &.blueButton {
            color: $color_white;
            background: transparent linear-gradient(180deg, $color_secondary 0%, $color_blue 100%) 0% 0% no-repeat padding-box;
        }
    }
     
}

.informationArea {
 > a {}
}