// 로그인 input
.inputArea {
    position: relative;
    margin: 24px 0 0;
    label {
        position: relative;
        font-size: 14px;
        font-weight: 600;
        color: $color_white;
    }
    input {
        width: 100%;
        height: 54px;
        margin: 6px 0 0;
        color: $color_white;
        border-bottom: 1px solid $color_neutrals10;
        font-size: 13px;
        line-height: 45px;
        background-color: transparent !important;
        background-repeat: no-repeat;
        background-size: 18px;
        background-position: right 18px center;
        transition: all .2s ease-in-out;
        &::placeholder {
          font-size: 14px;
          color: $color_neutrals10;
        }
        &:focus {
          border-bottom: 1px solid $color_primary;
        }
        &:active {
            background-color: transparent;
        }
    }

    .errorMessage {
        margin-top: 6px;
        font-size: 12px;
        color: $color_error;
    }
}

@mixin set-slash($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
    display: block;
    content: '/';
    font-size: 20px;
    color: $color_neutrals20;
}

// auth input
.informationArea {
    .inputArea {
      position: relative;
      margin: 24px 0 0;
        label {
            position: relative;
            font-size: 14px;
            font-weight: 600;
            color: $color_neutrals;
            &.required::after {
            position: absolute;
            top: 0;
            left: -5px;
            display: block;
            content: '';
            width: 4px;
            height: 4px;
            font-size: 11px;
            background-color: $color_primary;
            border-radius: 50%;
            }
        }
        input[type='text'],
        input[type='password'],
        input[type='number'] {
            width: 100%;
            height: 54px;
            margin: 6px 0 0;
            padding: 18px;
            border: 1px solid $color_neutrals20;
            border-radius: 8px;
            font-size: 13px;
            line-height: 45px;
            color: $color_neutrals;
    
            background-repeat: no-repeat;
            background-size: 18px;
            background-position: right 18px center;
    
            &::placeholder {
            font-size: 14px;
            color: $color_neutrals20;
            }
            &:disabled {
            background-color: $color_neutrals20;
            border: 1px solid $color_neutrals20;
            }
            &:focus {
            border: 1px solid $color_neutrals20;
            }
    
            &.confirmed {
            background-image: url(../../images/icons/confirmed.svg);
            border: 1px solid $color_confirmed;
            }
    
            &.warning {
            background-image: url(../../images/icons/warning.svg);
            border: 1px solid $color_warning;
            }
    
            &.error {
            background-image: url(../../images/icons/error.svg);
            border: 1px solid $color_error;
            }
        }
  
        .inputs {
            display: flex;
            gap: 4px;
        }
    
        .errorMessage {
            margin-top: 6px;
            font-size: 12px;
            color: $color_error;
        }
    
        .inputConfirmBtn {
            height: 54px;
            white-space: nowrap;
            margin-top: 6px;
            padding: 18px;
            background: $color_primary;
            border-radius: 8px;
            font-size: 14px;
            text-align: center;
            color: $color_white;
    
            &:disabled {
            background: $color_neutrals20;
            }
        }
        .multipleInput {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin: 10px 0 0;
            border: 1px solid $color_neutrals20;
            border-radius: 5px;
            vertical-align: top;
            input[type='text'],
            input[type='number'],
            input[type='password'] {
            display: inline-block;
            margin: 0 0 0 20px;
            border: 0;
            text-align: center;
            &:first-of-type {
                margin-left: 0;
            }
            }
            &::before {
            @include set-slash(45px, 33%);
            }
            &::after {
            @include set-slash(45px, 66%);
            }
        }
    }
}