.loginWrap {
    width: 100%;
    height: 100vh;
    padding: 100px 20px;
    background: linear-gradient(to bottom, $color_blue, $color_blue, $color_primary);
    > img {
        width: 150px;
        margin: auto;
    }
}

form {
    margin: auto;
    .formArea {

    }
    
}

.buttonArea {
       .whiteButton {} 
       .blueButton {} 
}

.informationArea {
    > a {}
}