.loginWrap {
    width: 100%;
    height: 100%;
    padding: 100px 20px;
    > img {
        width: 150px;
        margin: auto;
    }
}

form {
    margin: auto;
    .formArea {

    }
    
}

.inputArea {
    position: relative;
    margin: 24px 0 0;
    label {
        position: relative;
        font-size: 14px;
        font-weight: 600;
        color: $color_neutrals;
    }
    input {}
    .errorMessage {}
}

.buttonArea {
       .whiteButton {} 
       .blueButton {} 
}

.informationArea {
    > a {}
}